<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="off" monitorInterval="1800">  
    <properties>  
        <property name="LOG_HOME">/java/logs</property>
        <property name="MODULE_NAME">user</property>
        <property name="fileSize">200MB</property>
		<property name="filesNum">100</property>

        <property name="logPattern">${MODULE_NAME}-[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5level %logger{36}-%msg%n</property>

        <property name="errorFileName">${LOG_HOME}/java-${MODULE_NAME}-error.log</property>
        <property name="errorRollingFilePattern">${LOG_HOME}/java-${MODULE_NAME}-error-%d{yyyy-MM-dd-HH}-%i.log</property>
        <property name="warnFileName">${LOG_HOME}/java-${MODULE_NAME}-warn.log</property>
        <property name="warnRollingFilePattern">${LOG_HOME}/java-${MODULE_NAME}-warn-%d{yyyy-MM-dd-HH}-%i.log</property>
        <property name="everyFileSize">100MB</property>
        <property name="maxFiles">50</property>
    </properties>  
    <appenders>  
        <!-- for the console -->  
        <Console name="Console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />  
        </Console>  
        <!-- for developer debug -->  
        <RollingFile name="Dev" fileName="${LOG_HOME}/${MODULE_NAME}_DEV"
            filePattern="${LOG_HOME}/${MODULE_NAME}_DEV.%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />  
            <Policies>  
                <!-- <TimeBasedTriggeringPolicy interval="24" modulate="true" /> -->
                <SizeBasedTriggeringPolicy size="${fileSize}" />
                <DefaultRolloverStrategy max="${filesNum}" />
            </Policies>  
        </RollingFile>

        <!-- error日志 -->
        <RollingFile name="ErrorRollingFile" fileName="${errorFileName}"
                     filePattern="${errorRollingFilePattern}">
            <PatternLayout pattern="${logPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="${everyFileSize}" />
            </Policies>
            <DefaultRolloverStrategy max="${maxFiles}" />
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <!-- warn日志 -->
        <RollingFile name="WarnRollingFile" fileName="${warnFileName}"
                     filePattern="${warnRollingFilePattern}">
            <PatternLayout pattern="${logPattern}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="${everyFileSize}" />
            </Policies>
            <DefaultRolloverStrategy max="${maxFiles}" />
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </appenders>  
    <loggers>  
        <logger name="org.springframework.core" level="info">  
        </logger>  
        <logger name="org.springframework.beans" level="info">  
        </logger>  
        <logger name="org.springframework.context" level="info">  
        </logger>
        <logger name="org.springframework.web" level="info">
        </logger>
        <logger name="org.springframework.remoting" level="info">
        </logger>
        <logger name="org.mybatis" level="debug">
        </logger> 
        <logger name="org.jboss.netty" level="warn">  
        </logger>  
        <logger name="org.apache.http" level="warn">  
        </logger>  
        <logger name="com.chuchujie" level="debug">
        </logger>
		<logger name="com.alibaba.dubbo" level="info">
		</logger>
        <!-- Root Logger -->  
        <root level="info">
            <appender-ref ref="Dev" />  
            <appender-ref ref="Console" />
            <appender-ref ref="ErrorRollingFile" />
            <appender-ref ref="WarnRollingFile" />
        </root>  
    </loggers>  
</configuration>